@import 'styles/_variables.scss';
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    table {
        border-spacing: 0;
        border-collapse: collapse;

        thead th {
            border-bottom: 1px solid gray;
        }

        th:first-child {
            border-right: 1px solid gray;
        }

        td,
        th {
            width: 30px;
            height: 30px;
            text-align: center;
        }
    }

    .path {
        background-color: $backgroundColor-2;
    }

    .answer {
        background-color: $mainAccent-1;
    }
}